@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

// Define variables for color and font-size
$primary-color: rgb(144, 144, 144);
$secondary-color: #fff;
$font-size: 18px;

* {
  font-family: "Open Sans", sans-serif;
  background-color: rgb(35, 34, 34);
  color: white;
  padding: 0;
  margin: 0;
}

 @mixin content-style {
    display: grid;
    grid-template-areas: 
    'navbar'
    'container'
    'footer'
    ;

 }
 #content {
  @include content-style()
 }


// Create a mixin for the navigation bar style
@mixin navbar-style {
  border: 1px solid white;
  height: 50px;
  display: grid;
  box-shadow: 0px 0px 5px 1px $secondary-color;
  min-width: 100vh;
  justify-content: center;
  padding: 20px;
  grid-area: navbar;
  

  a {
    color: $secondary-color;
    text-decoration: none;
    font-size: $font-size;
    margin-right: 20px;

  }
}

// Apply the mixin to the navigation bar
.navBar {
  @include navbar-style;
}

@mixin btnContainer-style {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
  min-width: 600px;
  font-size: large;
}

.btnContainer {
  @include btnContainer-style();
}

@mixin header-style {
  display: grid;
  align-items: center;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  text-shadow: 0px 10px 5px black;
  




}
.main-heading {
  @include header-style();
}

@mixin subtext-style {
  margin-top: -50px;
  text-transform: lowercase;
  text-align: center;
  font-weight: 100;
  font-style: italic;
  border-bottom: 1px white solid;

}

.heading-subtext {
  @include subtext-style();
}

.description-text {
    padding: 20px;
    text-align: center;

    margin-bottom: 40px;
  }
  

@mixin container-style {
  grid-area: container;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
   "textContainer img"

  ;

}
.container {
  @include container-style();
}
@mixin textContainer-style {
  display: grid;
  justify-items: center;
  grid-area: textContainer;
  gap: 100px;
}
.textContainer {
  @include textContainer-style();
}

@mixin logoContainer-style {
  border: 2px solid $secondary-color;
    min-height: 100px;
    grid-area: logoContainer;
  
}

.logoContainer{
 @include logoContainer-style()
}




@mixin img-style {
  grid-area: img;
  width: 50%;
  position: fixed;
  right: 0;
  @media (max-width: 500px) {
    display: none;
  }

}
.home-img {
  @include img-style();
}

@mixin btn-style {
  // box-shadow: 2px 2px 3px 2px $secondary-color;
  border: 1px $secondary-color solid;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
  &:hover {
    cursor: pointer;
    transform: translateY(-1px);
  }
}

.homeBtn,
.menuBtn,
.contactBtn {
  @include btn-style();
}


.footerContainer{
  grid-area: footer;
  max-height: 130px;
  border-top: #fff 2px solid;
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  position: fixed;
bottom: 0;
left: 0;
right: 0;
}


.github-logo{
  max-height: 100px;
}


.menuContainer{
  margin-top: 40px;
  display: grid;
}

.main-content{
  text-align: center;


  min-height: 300px;
  display: grid;

}

@mixin menuItems {
  padding-top: 10px;
  display: grid;
}

.starters-content {
  @include menuItems();
}
.pizza-content {
  @include menuItems();
}

.contact-info{
  margin-top: 100px;
  display: grid;
  align-items: center;
  gap: 10px;
  justify-content: center;

}